@font-face {
    font-family: "LibreBaskervilleBold";
    src: url("../../fonts/Libre_Baskeerville/LibreBaskerville-Bold.ttf");
    src: url("../../fonts/Libre_Baskeerville/LibreBaskerville-Bold.ttf") format("tff"),
    url("../../fonts/Libre_Baskeerville/LibreBaskerville-Bold.ttf") format("opentype"),
}
@font-face {
    font-family: "LibreBaskervilleRegular";
    src: url("../../fonts/Libre_Baskeerville/LibreBaskerville-Regular.ttf");
    src: url("../../fonts/Libre_Baskeerville/LibreBaskerville-Regular.ttf") format("tff"),
    url("../../fonts/Libre_Baskeerville/LibreBaskerville-Regular.ttf") format("opentype"),
}
@font-face {
    font-family: "InterBold";
    src: url("../../fonts/Inter/Inter-Bold.ttf");
    src: url("../../fonts/Inter/Inter-Bold.ttf") format("tff"),
    url("../../fonts/Inter/Inter-Bold.ttf") format("opentype"),
}
@font-face {
    font-family: "InterRegular";
    src: url("../../fonts/Inter/Inter-Regular.ttf");
    src: url("../../fonts/Inter/Inter-Regular.ttf") format("tff"),
    url("../../fonts/Inter/Inter-Regular.ttf") format("opentype"),
}

.home{
    font-family: 'LibreBaskervilleRegular';
}
.header{
    width: 100vw;
    /* margin-top: 55px; */
}
.hcover{
    position: relative;
}
.hoverlay{
    /* margin-top: 70px; */
    width: 100%;    
    z-index: 1;
    text-align: center;
    color: white;
}
.hoverlaymini{
    background-color: rgba(0,0,0,0.5);
    height: fit-content;
    padding-top: 200px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
}

.hcontent{
    width: 60vw;
    margin: auto 100px;
    margin-left: 5%;
    text-align: left;
}
.htitle{
    font-size: 3.7rem;
    margin-bottom: 20px;
    font-family:'LibreBaskervilleBold';
}
.hatt{
    font-size: 1.5rem;
}
.hbtncontent{
    display: flex;
    gap: 20px;
}
.mcover{
    background-color: whitesmoke;
    width: 100vw;
    padding: 100px 0px;
}


.mcoveroverlay{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    height: fit-content;
    text-align: center;
    justify-content: center;
}
.lm{
    text-align: left;
    width: 50%;
    margin-right: auto;
}
.lmtitle{
    font-size: 1.8rem;    
    font-family:'LibreBaskervilleBold';
}
.lmhatt{
    font-size: 1.3rem;
    margin-top: 20px;
}
.dbl{
    color: rgb(60, 157, 222);
}
.blbutton{
    font-size: 1.1rem;
    font-family: 'InterBold';
    border-radius: 25px;
    padding: 15px 30px;
    margin:20px 0px;
    background-color: rgb(26, 77, 181);
    width: fit-content;
    color: white;
    cursor: pointer;
}
.wtbutton{
    font-size: 1.1rem;
    font-family: 'InterBold';
    border-radius: 25px;
    padding: 15px 30px;
    margin:20px 0px;
    background-color: white;
    width: fit-content;
    color: black;
    cursor: pointer;
}
.rm{
    width: 40%;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 70px;
}
.rmsection{
    display: block;
}
.rmicon{
    font-size: 6rem;
    color: rgb(60, 157, 222);
}
.rmtitle{
    font-size: 1.5rem;    
    font-family:'LibreBaskervilleBold';
}
.rmhatt{
    font-size: 1.2rem;
    margin-top: 20px;
}
.pcover{
    margin-top: 300px;
}
.pcoveroverlay{
    width: 90vw;
    margin: auto;
    margin-top: 120px;
    height: fit-content;
    /* padding: 100px auto; */
    text-align: center;
    justify-content: center;
}
.ptitle{
    font-size: 2.2rem;
    margin-bottom: 5px;
    color: blue;    
}
.patt{
    margin: auto;
    font-size: 1.8rem;
    font-family:'LibreBaskervilleBold';
    width: 80%;
}
.pdiv{
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-around;
}

.pdetails{
    /* flex-grow: 1; */
    position: relative;
    display: block;
    text-align: left;
    margin: 70px 10px;
    width: 300px;
    min-height: 700px;
    border-radius: 10px;
    /* background-color: rgb(233, 233, 233); */
    background-color: whitesmoke;
    color: black;
    padding: 30px 50px;
}
.pdetailsname{
    font-size: 2rem;
    margin: 10px auto;
    font-family:'LibreBaskervilleBold';
}
.pdetailsatt{
    font-size: 1.2rem;
}
.pdetailspm{
    display: block;
}
.pitmespan{
    display: inline-flex;
    margin: 20px 0px;
    align-items: center;
}
.pitem{
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}
.pitemprice{
    font-size: 2rem;
    
}
.pimg{
    width: fit-content;
    font-size: 8rem;
    margin: 20px 0px;
    margin-right: auto;
    color: rgb(60, 157, 222);
}
.pbullet{
    font-size: 2rem;
    margin-right: 20px;
    color: rgb(60, 157, 222);
}
.pordbutton{
    margin: 30px 20px;
    font-size: 1rem;
    font-family: 'InterBold';
    border-radius: 25px;
    padding: 15px 30px;
    margin:0px;
    background-color: rgb(60, 157, 222);
    width: fit-content;
    color: white;
    cursor: pointer;
}
.c{
    margin-top: 150px;
    background-color: rgb(45, 106, 146);
    color: white;
    width: 100vw;
    padding: 100px 0px;
}
.ccover{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90vw;    
    height: fit-content;   
    text-align: center;
    justify-content: center;
    font-family: 'InterRegular';
}

.lccover{
    text-align: left;
    width: 45%;
    margin-right: auto;
}
.lccovertitle{
    font-family:'LibreBaskervilleBold';
    font-size: 1.7rem;
    margin: 10px auto;
    margin-top: 50px;
    color: white;
}
.lccoverdesc{
    font-size: 1.6rem;
    font-family: 'InterBold';
}
.ccontact{
    align-items: center;
    font-size: 1.2rem;
    margin: 30px 0px;
}
.cicon{
    font-size: 2.2rem;
    margin-right: 10px;
    color: white;
    padding: 5px;
    border-radius: 50%;
    border: solid whitesmoke 1px;    
}
.ccontactl{
    font-size: 1.4rem;
    width: min-content;
}
.rccover{
    width: 49%;
    text-align: left;
    justify-content: center;
}
.inputStyle{
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px 5px;
}
.areaStyle{
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px auto;
    height: 200px;  
    width: 400px;  
}
.cformsend{
    padding: 15px 30px;
    background-color: rgb(60, 157, 222);
    width: 400px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
    font-family:'InterBold';
}

.ncover{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
    width: 50%;    
}
.nr{
    width: 50%;
    margin-right: auto;
}
.ntitle{
    font-size: 2rem;
    margin: 7px 0px;
    font-family: 'InterBold';

}
.natt{
    font-size: 1.2rem;
}

.nl{
    width: fit-content;
    /* margin-left: auto; */

}

.newsmail{
    width: 300px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 15px 30px;

}
.nbutton{
    font-size: 1rem;
    font-family: 'InterBold';
    border-radius: 25px;
    border: solid lightblue 1px;
    padding: 10px 25px;
    /* margin:20px 0px; */
    background-color: rgb(26, 77, 181);
    width: fit-content;
    color: white;
    cursor: pointer;
}
.f{
    width:100vw;
    padding: 100px 0px;
    padding-bottom: 20px;
    background-color: rgb(11, 24, 49);
    color: white;
    font-family: 'InterRegular';
}
.f1{    
    flex-grow: 1;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.fcover{
   margin: auto;   
   display: block;
   flex-wrap: wrap;
}
.fsect{
    margin:0px 50px;
}
.ftitle{
    padding: 17px auto;
    /* text-decoration: underline solid whitesmoke 1px; */
    /* text-decoration: underline whitesmoke; */
    font-size: 1.3rem;
    font-family: 'InterBold';
    font-weight: bold;
    margin: 15px auto;
}
.fsocial{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.fatt{
    font-size: 1.1rem;
    margin: 10px auto;
    cursor: pointer;
    align-items: center;    
}
.fl{
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    font-size: 1.2rem;
    font-family: 'InterBold';
}
.fl1{
    width:70%;
    margin: auto;
    text-align: center;
}

@media  screen and (max-width: 700px) {
    .mcoveroverlay{
        display: block;
    }
    .ncover{
        width: 90vw;
        margin-bottom: 100px;
    }
    .newsmail{
        width: 100%;
    }
    .f{
        padding: 50px 0px;
    }
    .f1{
        padding: 10px;
        width: 95vw;
        flex-direction: column-reverse;
    }
    .ccover{
        display: block;
    }
    .lccover{
        width: 90%;
    }
    .rccover{
        margin-top: 150px;
        width: 90%;
    }
    .inputStyle{
        width: 90%;
        font-size: 1rem;
        margin: 10px 5px;
    }
    .areaStyle{
        font-size: 1rem;  
        width: 80vw;  
    }
    .c{
        padding-top: 50px;
    }
    .cformsend{
        width: 90%;
    }
    .lccoverdesc{
        font-size: 1.4rem;
        margin-bottom: 100px;
        width: 95vw;
    }
    .rm{
        margin: auto;
        margin-top: 100px;
        width: 90%;
    }
    .lm{
        margin: auto;
        width: 90vw;
    }
    .patt{
        width: 90vw;
        text-align: left;
        margin: auto;
        font-size: 1.9rem;
        color: rgb(45, 106, 146);
        text-decoration: overline;
        
    }
    .pdetails{
        width: 95vw;
        margin: 70px auto;
        padding: 30px 20px;
        text-align: left;
    }
    .pcoveroverlay{
        width: 95vw;
    }
    .pdetailspm{
        display: block;
    }
    .pimg{
        margin: 20px auto;
    }
    .header{
        margin-top: 0px;
    }
    .hoverlay{
        margin-top: 0px;
    }
    .hoverlaymini{
       padding-top: 100px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .hcontent{
        width: 90vw;
        margin: auto 100px;
        margin-left: 5%;
        text-align: left;
    }
    .htitle{
        font-size: 3.2rem;
        margin-bottom: 20px;
    }
    .hatt{
        margin-top: 50px;
        font-size: 1.3rem;
    }
    .hbtncontent{
        display: flex;
        gap: 20px;
    }
    .blbutton{
        font-size: 1rem;
        padding: 15px 20px;
    }
    .wtbutton{
        font-size: 1rem;
        padding: 15px 20px;
    }
    .fsect{
        margin:0px 20px;
    }
}