.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    padding: 10px;
    display:flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    z-index: 3;
}
.bar{
    display: flex;
    width: fit-content;
    margin: auto;
    list-style: none;
    font-weight: bold ;
}
.navitem{
    margin: auto 38px;
    cursor: pointer;
}