.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    padding: 10px;
    display:flex;
    color: white;    
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    z-index: 3;
    background-color: rgba(0,0,0,0.2);
    /* font-family: inter; */
}
.bar{
    display: flex;
    width: fit-content;
    margin: auto;
    list-style: none;
    font-weight: bold ;
}
.navitem{
    margin: auto 30px;
    cursor: pointer;
    font-family: 'InterBold';
}
.menu{
    position: fixed;
    top:10px;
    right: 20px;
    font-size: 2.7rem;
    font-weight: bold;
    color: rgb(60, 157, 222);
    cursor: pointer;
    z-index: 4;
}
.logo{
    position: fixed;
    font-family:'LibreBaskervilleBold';
    top:0px;
    left: 5%;
    font-size: 1rem;
    width:95px;
    font-weight: bold;
    color: rgb(60, 157, 222);
    z-index: 4;
}

@media  screen and (max-width: 700px) {
    .nav{
        width:100vw;
        height: 85vh;
        padding: 10px;
        display:block;
        text-align: left;        
        color: black;
        background-color: rgba(255,255,255,1);
    }
    .mnav{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 50px;
        padding: 10px;
        z-index: 5;
        /* background-color: rgba(255,255,255,0.2); */
    }
    .bar{
        padding-top: 50px;
        display: block;
        margin: 20px;
    }
    .navitem{        
        font-size: 1.7rem;
        margin: 60px 10px;
        cursor: pointer;
    }
    .logo{
        left: 5px;
        color: rgb(60, 157, 222);
    }
}