.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    padding: 10px;
    display:flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    z-index: 3;
}
.bar{
    display: flex;
    width: fit-content;
    margin: auto;
    list-style: none;
    font-weight: bold ;
}
.navitem{
    margin: auto 30px;
    cursor: pointer;
}
.menu{
    position: fixed;
    top:10px;
    right: 20px;
    font-size: 2.7rem;
    font-weight: bold;
    color: rgb(60, 157, 222);
    cursor: pointer;
    z-index: 4;
}
.logo{
    position: fixed;
    font-family: monospace;
    top:10px;
    left: 5%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(60, 157, 222);
    z-index: 4;
}

@media  screen and (max-width: 700px) {
    .nav{
        width:100vw;
        height: fit-content;
        padding: 10px;
        display:block;
        text-align: left;        
    }
    .mnav{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 50px;
        padding: 10px;
        z-index: 5;
        background-color: rgba(255,255,255,0.2);
    }
    .bar{
        padding-top: 50px;
        display: block;
    }
    .navitem{        
        font-size: 1.4rem;
        margin: 30px auto;
        cursor: pointer;
    }
    .logo{
        left: 20px;
        color: black;
    }
}